Repository shelljs/shelljs, pull requests merged in 2019-10, with the labels that each got.

#961 Add boolean `fatal` option to `exec()` function
  README.md
  src/common.js
  src/exec.js
  test/exec.js
Labels: exec, feature

#970 test: misc test changes
  test/cp.js
  test/mkdir.js
  test/utils/utils.js
Labels: chore, test

#975 fix(exec): join paths correctly
  src/exec.js
Labels: Windows, exec

#866 feat: add shell.cmd to replace exec
  commands.js
  package.json
  src/cmd.js
  test/cmd.js
Labels: exec, feature, security
