Repository shelljs/shelljs, pull requests merged in 2024-06, with the labels that each got.

#1159 chore: remove unsupported node configs from CI
  .github/workflows/main.yml
  scripts/check-node-support.js
Labels: chore

#1163 test: add test coverage for some globOptions
  test/config.js
Labels: test, test coverage

#1164 test: add more coverage for globOptions
  test/config.js
Labels: test, test coverage

#1166 Fix Windows test errors in src/ls.js and test/cp.js.
  src/ls.js
  test/cp.js
Labels: fix, Windows, test

#1167 chore: switch to codecov v4
  .github/workflows/main.yml
Labels: chore, test coverage

#1169 chore(dependencies): update js-yaml
  package.json
  scripts/check-node-support.js
Labels: chore
